# Serveur WSGI de production
gunicorn==23.0.0

# Web framework
Flask==3.1.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.3.0
Flask-Login==0.6.3

# Hachage des mots de passe
bcrypt==4.2.0

# Scheduler de tâches de fond
APScheduler==3.10.4

# Accès SFTP
paramiko==5.0.0

# Accès SMB/CIFS
smbprotocol==1.14.0

# Chiffrement des identifiants (Fernet = AES-128-CBC + HMAC)
cryptography==46.0.7

# Gestion des variables d'environnement
python-dotenv==1.2.2

# Sécurité
Flask-Limiter==3.8.0

# Export de rapports
openpyxl==3.1.2
reportlab==4.5.1

# LDAP / Active Directory
ldap3==2.9.1
